<!DOCTYPE html>
<html>
<head>
  <title>OpenWS</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ui container">
    <%= yield %>
  </div>

<%= javascript_include_tag *webpack_asset_paths("application") %>
</body>
</html>
